@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|VT323');

@font-face {
  font-family: "Metropolis"
  src: url("../fonts/metropolis/Metropolis-Black.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

* {
  /* width of an object takes padding into account */
  box-sizing: border-box;
  font-family: 'Major Mono Display', monospace;
  color: #777; /* light gray */
}

html, body {
  margin: 0;
  padding: 0;
}

/* NAV (general) */
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block; /* inline-block allows us to add padding to top and bottom, not possible with just inline.*/
  padding: .5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* MAIN-NAV  */
.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%; /* 0 top/bottom, 5% left/right */
}

/* HEADER */
.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: 'VT323', monospace;
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 7em;
}

/* SECTION */
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: 'VT323', monospace;
  font-weight: normal;
  font-size: 2.5em;
  color: #333;
  text-align: center;
}

.about-band-image {
  float: left;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

/* FOOTER */
.main-footer {
  background-color: #714288; /* a nice hue of dark-ish purple*/
  color: white;
  padding-left: .25em 0;
}

.band-name-footer {
  font-size: 2.5em;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 .5em;
}

.footer-nav img {
  width: 40px;
  height: 40px;
}

/* BTNS */
.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em;
  cursor: pointer;
}

.btn-header {
  color: white;
  border: 2px solid #BF81FF;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.btn-play {
  /* margin: 0 auto; */
  color: #BF81FF;
  font-size: .5em;
  border-radius: 50%;
  /* padding, width and height needed to create circular button */
  padding: 0;
  width: 40px;
  height: 40px;
}

.btn-container {
  margin: 0px 25%;
}
